.user-container {
  background-color: #f7f7f7;
  height: 82vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.user-container img {
  width: 300px;
  height: 300px;
}
.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.user-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 60%;
  margin-top: 2%;
}
.btn-warning {
  /* margin-left: 90px;
  margin-top: 10px; */
  width: 10rem;
}
.title-info {
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .user-container {
    flex-direction: column;
    /* padding-left: 25%; */
  }
  .user-container img {
    width: 200px;
    height: 200px;
    margin-left: 25%;
  }
  .user-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
